/* css styles */
div.quarto-about-jolla main {
    text-align: justify;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.d-flex {
    display: flex!important;
}

.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

